In [1]:
import os
import numpy as np
import random
import pandas as pd

In [2]:
output_dir = '../data/dataset'
dataset_name = 'validation_waterbird'

In [5]:
dataset_path = os.path.join(output_dir, dataset_name, 'metadata.csv')

df = pd.read_csv(dataset_path)
df_train = df[df['split'] == 0]
df_val = df[df['split'] == 1]
df_test = df[df['split'] == 2]

In [11]:
print(df_train[df_train['y'] == 1]['place'].mean())
print(df_train[df_train['y'] == 0]['place'].mean())

0.9498175182481752
0.05001351716680184

In [13]:
print(df_val[df_val['y'] == 1]['place'].mean())
print(df_val[df_val['y'] == 0]['place'].mean())

0.5017667844522968
0.5

In [14]:
print(df_test[df_test['y'] == 1]['place'].mean())
print(df_test[df_test['y'] == 0]['place'].mean())

0.5
0.5

In [15]:
df_train

,img_id,img_filename,y,split,place,water_img,land_img,place_image
1,2,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,Places365_val_00028483.jpg,Places365_val_00012727.jpg,Places365_val_00028483.jpg
3,4,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,Places365_val_00033743.jpg,Places365_val_00001816.jpg,Places365_val_00033743.jpg
4,5,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,Places365_val_00007612.jpg,Places365_val_00032547.jpg,Places365_val_00007612.jpg
6,7,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,Places365_val_00035090.jpg,Places365_val_00019775.jpg,Places365_val_00035090.jpg
7,8,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,Places365_val_00026421.jpg,Places365_val_00026061.jpg,Places365_val_00026421.jpg
...,...,...,...,...,...,...,...,...
11775,11776,200.Common_Yellowthroat/Common_Yellowthroat_00...,0,0,0,Places365_val_00017396.jpg,Places365_val_00007655.jpg,Places365_val_00007655.jpg
11777,11778,200.Common_Yellowthroat/Common_Yellowthroat_00...,0,0,0,Places365_val_00005536.jpg,Places365_val_00023171.jpg,Places365_val_00023171.jpg
11780,11781,200.Common_Yellowthroat/Common_Yellowthroat_00...,0,0,0,Places365_val_00034945.jpg,Places365_val_00001238.jpg,Places365_val_00001238.jpg
11781,11782,200.Common_Yellowthroat/Common_Yellowthroat_00...,0,0,0,Places365_val_00000025.jpg,Places365_val_00029344.jpg,Places365_val_00029344.jpg
11783,11784,200.Common_Yellowthroat/Common_Yellowthroat_00...,0,0,0,Places365_val_00032398.jpg,Places365_val_00014130.jpg,Places365_val_00014130.jpg